@import "normalize";
@import "typography";
@import "variables";
@import "grid";
@import "left";
@import "right";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

html{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

*,::before,::after{
    box-sizing: inherit;
}

body{
    background: #fff;
    overflow: hidden;
}